:root {
  --transition-basic: 0.3s ease;

  /* Colors */
  // Backgrounds
  --bg-main: radial-gradient( hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --bg-white: rgb(234 234 234);

  --choice-scissors: hsl(40, 84%, 53%);
  --choice-scissors-additional: hsl(39, 89%, 49%);
  --choice-paper: hsl(230, 89%, 65%);
  --choice-paper-additional: hsl(230, 89%, 62%);
  --choice-rock: hsl(349, 70%, 56%);
  --choice-rock-additional: hsl(349, 71%, 52%);
  --choice-lizard: hsl(261, 73%, 63%);
  --choice-lizard-additional: hsl(261, 72%, 60%);
  --choice-spock: hsl(189, 59%, 57%);
  --choice-spock-additional: hsl(189, 58%, 53%);

  // Text
  --text-main: #fafcff;
  --text-dark: hsl(229, 25%, 31%);
  --text-score: hsl(229, 64%, 46%);
  --text-header-outline: hsl(217, 16%, 45%);

  /* ✍️ Typography */
  --font-family: "Barlow Semi Condensed", sans-serif;

  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;
  --font-size-xxxl: 3.5rem;

  --line-height: 3rem;

  /* 📏 Spacing */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* 🟦 Radius */
  --border-radius: 0.5rem;
}