@use './_variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-main);
  background: var(--bg-main);
  transition:
    color var(--transition-basic),
    background-color var(--transition-basic);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  margin: 0;
  padding: 0;
}